.modal {
  position: relative;
  z-index: 1;
  overflow: auto;
  display: inline;
}

.modalContent {
  background-color: #fefefe;
  margin: auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 10vw;
  height: 15vh;
  padding-top: 10px;
}

.link {
  color: #CE002E
}

.input {
  display: inline;
  max-width: 300px;
}

.avatar {
  height: 200px;
}

.username {
  font-size: 2em;
}

.userbox {
  max-width: 250px; 
}

.modalItem {
  margin: 0 2px;
}

