articles {
  margin: auto;

}

.topic {
  display:flex;
  flex-direction: column;
}

.topicTitle {
  font-size: 3em;
  align-self: center;
  color: #C2C1C3;
  
}

.article {
  width: 65vw;
}

.newArticleButton {
  max-width: 65vw;
  margin: 20px auto;
  
}

.newArticleItem {
  display: block;
  max-width: 65vw;
  margin: 10px auto;
}

.articleInput {
  display: block;
}