@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,700");

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  font-family: 'Noto Serif', sans-serif;
  color: #C2C1C3;
  background-color: #252C2F;
}
